.home-header {
  width: 100%;
  background: #073394;
  &-banner {
    object-fit: cover;
    width: 100%;
  }
  &-navbar {
    width: 100%;
    background: #073394;
    display: flex;
    z-index: 10;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    &-logo {
      width: 80px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
    }
    &-search {
      position: absolute;
      display: flex;
      .input-search {
        height: 30px;
        width: 500px;
        border-radius: 20px;
        padding-left: 20px;
      }
      .search-icon {
        position: absolute;
        right: 10px;
        top: 5px;
        color: var(--black);
      }
    }
    &-end {
      display: flex;
      gap: 30px;
      color: var(--white);
    }
  }
}
