.product-tag {
  display: grid;
  grid-template-columns: repeat(4, 10em);
  padding: 20px 0;
  &-box {
    text-align: center;
    cursor: pointer;
    width: 100px;
    border-radius: 1em;
    border: 1px solid var(--black);
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    &-name {
      font-weight: bold;
    }
    &-price {
      font-size: small;
    }
  }
  &-box-active {
    text-align: center;
    cursor: pointer;
    width: 100px;
    border-radius: 1em;
    border: 2px solid var(--red);
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
