.product {
  margin: 10px 13% 0;
  display: grid;
  grid-template-columns: 12% 86%;
  column-gap: 20px;
  padding: 20px 0;
  height: 62em;
  &-branch {
    background: var(--white);
    height: fit-content;
    width: 100%;
    border-radius: 1em;
    margin-right: 20px;
    &-title {
      padding: 0 10px;
    }
    &-list {
      padding: 0 20px;
      &-detail {
        display: flex;
        background: rgb(241, 241, 241);
        border-radius: 3em;
        margin-top: 10px;
        padding: 12px;
        align-items: center;
        cursor: pointer;
        filter: grayscale(100%);
        transition: filter 0.4s ease-in-out;
        &-logo {
          margin-right: 10px;
          width: 35px;
          height: 23px;
        }
      }
      &-detail:hover {
        color: var(--white);
        background: var(--light-red);
        filter: grayscale(0%);
      }
      &-all {
        text-align: center;
        top: 100%;
        padding: 10px;
        background: rgb(241, 241, 241);
        border-radius: 3em;
        margin-top: 40px;
        margin-bottom: 10px;
        cursor: pointer;
        text-decoration: none;
      }
      &-all:hover {
        color: var(--white);
        background: var(--light-red);
      }
    }
  }
  &-comp {
    width: 100%;
    border-radius: 3em;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 20px;
      &-title {
        margin: 0;
      }
      &-more {
        cursor: pointer;
        color: var(--gray);
      }
      &-more:hover {
        color: var(--black);
      }
    }
    &-item {
      justify-content: center;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      padding: 10px 30px;
      column-gap: 20px;
      row-gap: 30px;
    }
  }
}
