.wrapper * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://media.istockphoto.com/id/958693744/vector/abstract-red-light-trail-on-blue-background.jpg?s=1024x1024&w=0&k=20&c=NMWPgT3zSw2UxluLVNmhoQUcOuA_FgzQIvw5aDGQkVc=);
  background-repeat: no-repeat;
  background-size: 100%;
}

.account-page {
  position: relative;
  width: 420px;
  height: fit-content;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: var(--white);
  &-login {
    width: 100%;
    padding: 40px;
  }
  &-register {
    width: 100%;
    padding: 40px;
  }
  &-back {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
  &-form {
    &-title {
      font-size: 36px;
      text-align: center;
      margin-top: 20px;
    }
    &-input {
      position: relative;
      width: 100%;
      height: 50px;
      margin: 30px 0;
      &-box {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 40px;
        font-size: 16px;
        color: var(--white);
        padding: 20px 45px 20px 40px;
      }
      ::placeholder {
        color: var(--white);
      }
      &-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        translate: 0 -50%;
        font-size: 16px;
      }
      &-show {
        position: absolute;
        right: 20px;
        top: 50%;
        translate: 0 -40%;
        font-size: 16px;
        cursor: pointer;
      }
    }
    &-forgot {
      display: flex;
      justify-content: flex-end;
      font-size: 14.5px;
      margin: -15px 0 15px;
    }
    &-accept {
      font-size: 14.5px;
      margin: -15px 0 15px;
      input {
        accent-color: var(--white);
        margin-right: 4px;
      }
    }
    &-button {
      width: 100%;
      height: 45px;
      background: var(--white);
      border: none;
      outline: none;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      font-size: 16px;
      color: var(--black);
      font-weight: 700;
    }
    &-register {
      font-size: 14.5px;
      text-align: center;
      margin: 20px 0 15px;
    }
  }
  a {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
  }
  a:hover {
    text-decoration: underline;
  }
}
