/*=========== Admin Layout ===========*/
.admin-layout {
  display: flex;
  &-content {
    width: 100%;
  }
}

/*=========== Admin Management ===========*/
.management {
  padding: 10px 20px;
  &-top {
    display: flex;
    justify-content: space-between;
    &-title {
      color: rgb(0, 102, 255);
    }
  }
}

.action {
  cursor: pointer;
  display: flex;
  gap: 20px;
  &-edit {
    color: var(--primary);
  }
  &-remove {
    color: var(--danger);
  }
}

/*=========== Admin Edit Form ===========*/
.edit {
  padding: 10px 20px;
  &-title {
    color: rgb(0, 102, 255);
  }
  &-form {
    &-button {
      display: flex;
      justify-content: space-between;
    }
  }
}
