.product-information {
  margin: 10px 9% 0;
  &-item {
    cursor: context-menu;
    display: flex;
    // height: 500px;
    &-image {
      width: 600px;
    }
    &-box {
      background: var(--white);
      width: 900px;
      height: fit-content;
      margin-left: 20px;
      padding: 0 20px;
      border-radius: 2em;
      border: 1px solid var(--gray);
      &-category {
        color: var(--gray);
        cursor: pointer;
      }
      &-price {
        display: flex;
        align-items: center;
        gap: 10px;
        color: black;
        &-discount {
          color: red;
          font-size: 18px;
          font-weight: bold;
          justify-items: center;
        }
      }
      &-status {
        display: flex;
        gap: 10px;
        &-available {
          color: rgb(0, 194, 0);
        }
        &-out {
          color: var(--red);
        }
      }
      &-branch {
        display: flex;
        gap: 10px;
        &-logo {
          height: 10%;
          width: 10%;
          margin-top: 15px;
          align-items: center;
          cursor: pointer;
        }
      }
      &-special {
        &-title {
          text-transform: uppercase;
          font-weight: bold;
          color: var(--red);
        }
        li {
          color: var(--gray);
        }
      }
      &-action {
        display: flex;
        align-items: center;
        gap: 20px;
        &-cart {
          margin: 10px 0;
          padding: 10px 10px;
          display: flex;
          gap: 10px;
          background: var(--light-red);
          border-radius: 3em;
          width: fit-content;
          &-add {
            color: white;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
            padding-right: 10px;
          }
        }
        &-heart {
          border: 1px solid var(--light-gray);
          border-radius: 3em;
          padding: 10px;
          cursor: pointer;
        }
        &-heart:hover {
          border: 1px solid var(--black);
          color: var(--red);
        }
      }
    }
  }
  &-body {
    &-tab {
      margin: 20px 0;
      border-radius: 2em;
      border: 1px solid var(--gray);
      &-title {
        font-size: 20px;
      }
      &-content {
        padding-left: 30px;
        margin-bottom: 30px;
        &-desc {
        }
        &-speci {
        }
        &-comment {
        }
      }
    }
  }
}
