.sale-page {
  margin: 10px 8% 0;
  &-product {
    display: grid;
    grid-template-columns: 17% 73%;
    &-filter {
      padding: 20px;
      border-radius: 1em;
    }
    &-list {
      padding: 0 10px;
      .ant-pagination {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}
