.dropdown {
  width: 280px;
  background: var(--white);
  position: relative;
  user-select: none;
  border-radius: 3em;
  margin-bottom: 20px;
  &-button {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    border-radius: 3em;
    border: 1px solid var(--light-gray);
    font-weight: bold;
  }
  &-content {
    position: absolute;
    background: var(--white);
    top: 110%;
    padding: 15px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    width: 90%;
    &-item {
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s;
    }
    &-item:hover {
      background: var(--light-gray);
    }
  }
}
