.product-box {
  color: black;
  background: white;
  border: 1px solid white;
  border-radius: 1em;
  margin-right: 10px;
  height: fit-content;
  padding: 0 20px;
  font-size: 1em;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
  text-decoration: none;
  &-detail {
    text-decoration: none;
    &-top {
      display: flex;
      justify-content: space-between;
      position: relative;
      &-image {
        border-radius: 1em;
        width: 100%;
        height: 13em;
        overflow: hidden;
        text-decoration: none;
        color: black;
      }
      &-action {
        position: absolute;
        margin-top: 20px;
        flex-direction: column;
        z-index: 1;
        right: 0;
        transition: 0.5s;
        display: flex;
        color: gray;
        animation: slide-in 0.3s ease forwards;
        overflow: hidden;
        &-item {
          list-style: none;
          cursor: pointer;
          border: 1px solid var(--light-gray);
          border-radius: 3em;
          margin-bottom: 10px;
          padding: 10px;
          transition: 0.5s;
          background: var(--white);
          &-cart:hover {
            color: rgb(34, 93, 255);
          }
          &-heart:hover {
            color: red;
          }
          &-more {
            font-size: 13px;
            color: gray;
          }
          &-more:hover {
            color: black;
            cursor: pointer;
          }
        }
      }
    }
    &-top:hover {
      &-action {
        position: relative;
      }
    }
    &-color {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
    &-name {
      border-top: 1px solid lightgray;
      display: flex;
      justify-content: center;
      color: black;
      align-items: center;
      text-align: center;
      height: 50px;
    }
    &-price {
      border-radius: 3em;
      background: rgb(241, 241, 241);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding-left: 10px;
      color: black;
      &-discount {
        color: red;
        font-size: 18px;
        font-weight: bold;
        justify-items: center;
      }
    }
  }
  &-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
}

.product-box:hover {
  box-shadow: 0 0 20px rgb(160, 160, 160);
}

@keyframes slide-in {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}
