.top-card {
  cursor: pointer;
  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    &-title {
      color: red;
      font-weight: bold;
      font-size: 25px;
      margin: 10px 0;
    }
    &-more {
      display: flex;
      align-items: center;
      color: gray;
      cursor: pointer;
    }
    &-more:hover {
      color: black;
    }
  }
  &-product {
    justify-content: space-between;
    background: white;
    border-radius: 1em;
    padding: 20px;
    margin-bottom: 10px;
    &-detail {
      display: flex;
      margin: 0 10px;
      border-radius: 1em;
      text-decoration: none;
      color: var(--black);
      &-image {
        height: 50%;
        width: 8em;
        padding-top: 10px;
      }
      &-item {
        align-self: center;
        &-name {
          font-size: 15px;
          margin: 0 10px;
          width: 200px;
        }
        &-price {
          display: flex;
          align-items: center;
          gap: 10px;
          text-align: center;
          margin: 5px 10px;
          &-current {
            color: red;
            font-weight: bold;
          }
        }
      }
    }
    &-detail:hover {
      box-shadow: 0 0 20px rgb(160, 160, 160);
    }
  }
  &-more {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 3em;
    background: var(--white);
    margin-top: 20px;
    border-radius: 1em;
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
  }
  &-more:hover {
    background: var(--light-red);
    color: var(--white);
  }
}
