.home-top-body {
  display: grid;
  grid-template-columns: 9% 60% 15%;
  padding: 10px 110px;
  justify-content: center;
  &-category {
    border: solid 1px var(--gray);
    border-radius: 1em;
    padding: 10px;
    width: 150px;
    &-item {
      display: flex;
      justify-content: space-between;
    }
  }
  .swiper {
    width: 80%;
    height: 100%;
    border-radius: 1em;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
