.product-filter {
  height: fit-content;
  background: var(--white);
  padding: 20px;
  &-title {
    text-align: center;
    font-weight: bold;
  }
  &-line {
    border-top: 1px solid var(--gray);
  }
  &-price {
    &-title {
      font-weight: bold;
    }
    &-current {
      &-fprice {
        color: var(--light-red);
        font-weight: bold;
      }
    }
    &-button {
      cursor: pointer;
      background: var(--white);
      border-radius: 1em;
      border: 2px solid var(--black);
      height: 30px;
      width: 100px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
    &-button:hover {
      background: var(--light-pink);
      color: var(--white);
    }
  }
  &-branch {
    &-title {
      font-weight: bold;
    }
  }
  &-color {
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-title {
        font-weight: bold;
      }
      &-remove {
        font-size: 15px;
        color: var(--gray);
        cursor: pointer;
        background: var(--white);
        border-radius: 1em;
        border: 1px solid var(--black);
      }
      &-remove:hover {
        background: var(--light-pink);
        color: var(--white);
      }
    }
  }
}
